
.main_card {
    position: relative;
    border-radius: 25px;

    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.home_page {
    height: 100vh;
    padding: 2rem;
    
}

.headline {
    font-weight: bold;
}


.action_div {
    width: 100%;
       margin-top: 2rem;
   }

   .label_form {
       display: block;
       font-size: 15px;
       color: #0a2240;
       font-family: 'Cairo' , sans-serif;
       margin-bottom: 0.8rem;
   }

   .input_form {
       background: #f9f9f9;
       color: #010101;
       border: 1px solid #0101019f;
       height: 2.5rem;
       width: 100%;
       font-family: 'Cairo', sans-serif;
       padding: 0.2rem 1.2rem;
       font-size: 14px;
       border-radius: 5px;
   }

   .readonly_form {
    background: #e9e9e9;
   }

.textarea_form {
    height: 5.5rem;
}


.cha3_btn {
    border: none;
    outline: none;
    background: #1da69f;
    padding: 0.4rem 1.8rem;
    border-radius: 5px;
    color: #fff;
    transition: all 0.5s ease-in;
}

.cha3_btn:hover {
    background: transparent;
    border: 1px solid #1da69f;
    padding: 0.4rem 1.8rem;
    border-radius: 5px;
    color: #1da69f;
    transition: all 0.5s ease-in;
}

.span_blue {
    color: #1da69f;
}